<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    
    <%- style %>
</head>
<body>
    <%- include('_header'); %>
    
    <%- body %>
    <%- include('_footer'); %>

    <%- script %>
    <script>
        <% if(flash.success && flash.success.length > 0) {%>
            new Noty({
                theme:'relax',
                text: '<%= flash.success %>',
                type:'success',
                layout:'topRight',
                timeout: 1500
            }).show();
        <%}%>    
        <% if(flash.error && flash.error.length > 0) {%>
            new Noty({
                theme:'relax',
                text: '<%= flash.error %>',
                type:'error',
                layout:'topRight',
                timeout: 1500
            }).show();
        <%}%>    
    </script>
</body>
</html>