<link rel="stylesheet" href="/css/user_profile.css">


<img src="<%= profile_user.avatar %>" alt="<%= profile_user.username %>" width="100">
<% if(user.id == profile_user.id) {%> 
    <!-- if user matches then show the form -->
    
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.username %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="file" name="avatar" placeholder="profile picture.." id="imgPrev">
        <img src="#" id="preI" alt="your image">
        <input type="submit" value="Update" width="100">
    </form>
<%} else {%>
    <!-- else show only the profile info -->
    <p><%= profile_user.username%></p>
    <p><%= profile_user.email%></p>

<%}%>
<script src="/js/profile_preview.js"></script>